<header class="header">
  <div class="logo">
      <a href="/">
          <img class="large" src="assets/img/svg/logo-white.svg" alt="Payboxi">
          <img class="small" src="assets/img/svg/icon.svg" alt="Payboxi">
      </a>
  </div>
  <div class="actions">
      <p>Already have an account?</p>
      <a class="btn btn-light" href="signup.html">Get Started</a>
  </div>
</header>
<main class="main content">
  <div class="banner">
      <div class="info">
          <h1>Welcome to Paybox</h1>
          <p>The use of the products and services we offer may result in the processing of personal data</p>
      </div>
      <div class="owl-carousel owl-theme slide-brand">
          <div class="item">
              <img src="assets/img/png/brand-light-1.png" alt="Brand Name" height="200" />
          </div>
          <div class="item">
              <img src="assets/img/png/brand-light-2.png" alt="Brand Name" height="200" />
          </div>
          <div class="item">
              <img src="assets/img/png/brand-light-3.png" alt="Brand Name" height="200" />
          </div>
          <div class="item">
              <img src="assets/img/png/brand-light-4.png" alt="Brand Name" height="200" />
          </div>
          <div class="item">
              <img src="assets/img/png/brand-light-5.png" alt="Brand Name" height="200" />
          </div>
      </div>
  </div>
  <div class="form">
      <div class="heading">
          <h5>New Password</h5>
          <p>Create your new password</p>
      </div>
      <form action="forgot-password-success.html">
          <div>
              <label>Password</label>
              <input type="password" placeholder="Password" />
          </div>
          <div>
              <label>Repeat Password</label>
              <input type="password" placeholder="Re-enter Password" />
          </div>
          <button class="btn btn-secondary btn-lg" type="submit">Confirm</button>
      </form>
  </div>
</main>
