.form-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
  text-align: center;
  min-width: 400px;
  position: relative;
  section {
    width: 100%;
    .error-feedback {
      color: crimson;
      margin-bottom: 25px;
      input {
        border: 2px solid crimson;
        margin-bottom: unset;
      }
    }
    .title-block {
      margin-top: 20px;
      text-align: center;
      position: relative;
      h5 {
        font-family: Inter;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 34px;
        /* identical to box height */
        color: #00184B;
      }
      p {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 22px;
        color: #00184B;
      }
    }
    div {
      .label {
        text-align: left;
      }
    }
  }
}

.actions {
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  z-index: 100000;
  p {
    margin: 10px 30px;
  }
}
