<main>
    <div class="row">
      <div class="col-12 my-2">
        <h5 class="title">My Dashboard</h5>
        <div class="app-notice">
          <div class="my-auto ml-5"> <img src="assets/img/svg/alert-circle.svg" alt="notification"/> </div>
          <div class="my-auto ml-5 mr-5">
            <h4> Application Received </h4>
            <p>Your application will be reviewed and you would get a response</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 my-2">
        <div class="dash-card-one">
          <p>Number of checks done</p>
          <p class="mid-title">3</p>
          <p>This year <img src="assets/img/svg/chevron-up.svg" alt="chevron-up" /> </p>
        </div>
      </div>
      <div class="col-12 col-md-3 my-2">
        <div class="dash-card-two">
          <p>Number of clearance received</p>
          <p class="mid-title">12</p>
          <p>This year <img src="assets/img/svg/chevron-up.svg" alt="chevron-up" /> </p>
        </div>
      </div>
      <div class="col-12 col-md-3 my-2">
        <div class="dash-card-three">
          <p>Last checks done</p>
          <p class="mid-title">24 June 2020</p>
          <p>Last month <img src="assets/img/svg/chevron-up.svg" alt="chevron-up" /> </p>
        </div>
      </div>
      <div class="col-12 col-md-3 my-2">
        <div class="dash-card-four">
          <p>Number of checks done</p>
          <p class="mid-title">3</p>
          <p>This year <img src="assets/img/svg/chevron-up.svg" alt="chevron-up" /> </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 my-2">
        <div class="card">
          <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-between;">
              <h5>Background Check</h5>
              <a href="#" style="color: #ccc">View all</a>
            </div>
            <div class="card-text">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td>Check Number</td>
                      <td>Application Type</td>
                      <td>Date</td>
                      <td>Status</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>PB1101</td>
                      <td>Premium</td>
                      <td>22/05/2020</td>
                      <td><span class="badge badge-warning">Open</span></td>
                    </tr>
                    <tr>
                      <td>PB1101</td>
                      <td>Premium</td>
                      <td>22/05/2020</td>
                      <td><span class="badge badge-warning">Open</span></td>
                    </tr>
                    <tr>
                      <td>PB1101</td>
                      <td>Regular</td>
                      <td>22/05/2020</td>
                      <td><span class="badge badge-success">Approved</span></td>
                    </tr>
                    <tr>
                      <td>PB1101</td>
                      <td>Premium</td>
                      <td>22/05/2020</td>
                      <td><span class="badge badge-danger">Denied</span></td>
                    </tr>
                    <tr>
                      <td>PB1101</td>
                      <td>Premium</td>
                      <td>22/05/2020</td>
                      <td><span class="badge badge-warning">Open</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 my-2">
        <div class="card">
          <div class="card-body">
            <div class="card-title" style="display: flex; justify-content: space-between;">
              <h5>Clearance Certificate History</h5>
              <a href="#" style="color: #ccc">View all</a>
            </div>
            <div class="card-text">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <td>Clearance Number</td>
                      <td>Date</td>
                      <td>Status</td>
                      <td>Action</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>CL1101</td>
                      <td>22/05/2020</td>
                      <td><div class="badge badge-warning">Open</div></td>
                      <td><a href="#" class="badge badge-light">Download</a></td>
                    </tr>
                    <tr>
                      <td>CL1101</td>
                      <td>22/05/2020</td>
                      <td><div class="badge badge-warning">Open</div></td>
                      <td><a href="#" class="badge badge-light">Download</a></td>
                    </tr>
                    <tr>
                      <td>CL1101</td>
                      <td>22/05/2020</td>
                      <td><div class="badge badge-warning">Open</div></td>
                      <td><a href="#" class="badge badge-light">Download</a></td>
                    </tr>
                    <tr>
                      <td>CL1101</td>
                      <td>22/05/2020</td>
                      <td><div class="badge badge-success">Open</div></td>
                      <td><a href="#" class="badge badge-light">Download</a></td>
                    </tr>
                    <tr>
                      <td>CL1101</td>
                      <td>22/05/2020</td>
                      <td><div class="badge badge-danger">Open</div></td>
                      <td><a href="#" class="badge badge-light">Download</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</main>
