<header class="header">
  <div class="logo">
      <a href="#" routerLink="/signin">
          <!-- <img class="large" src="assets/img/svg/logo-white.svg" alt="Payboxi"> -->
          <img class="large" src="assets/img/svg/icon.svg" alt="logo">
      </a>
  </div>
  <!-- <div class="actions">
      <p>Already have an account?</p>
      <a class="btn btn-light" href="signup.html">Get Started</a>
  </div> -->
</header>
<main class="main content">
  <div class="banner">
      <div class="info">
        <img src="assets/img/svg/Offer-Designed.svg" alt="offer_banner"/>
      </div>
  </div>
  <div class="form">
    <router-outlet></router-outlet>
  </div>
</main>
